.timeline { width: 686px; padding: 60px 33px; }

.timeline__content { height: 622px; overflow-y: auto; }

.timeline__content::-webkit-scrollbar {
    width: 0.375rem; /* 6px */
    height: 0.375rem; /* 6px */
}

.timeline__content::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 0.5rem; /* 8px */
}

.timeline__posts {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 19px;
    margin-left: 69px;
    padding-bottom: 19px;
}

.timeline__posts--empty::before { display: none; }

.timeline__posts::before {
    content: "";
    position: absolute;
    top: 27px;
    bottom: 0;
    left: -51px;
    width: 17px;
    background-color: #ffffff;
    border-right: 1px solid #464646;
    border-left: 1px solid #464646;
}
